body {
    background: #6e869399;
    /* background-image : url('background_image.avif'); */
    color: #333333;
    /* margin-top: 5rem; */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #100a0a;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #e3e3e3
  }
  .project-title-link:link {
    color: #ffffff;
    text-decoration: none;
    
  }
  /* .project-title-link:hover {
    color: #000000;
    text-decoration: none;
  } */

  .project-title-link:visited {
    color: #ffffff;
    text-decoration: none;
}

.project-title-link:hover,
.project-title-link:active {
    color: #000000;
    text-decoration: none;
}

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 130px;
    width: 115px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .profile-img {
    height: 170px;
    width: 135px;
    margin-right: 20px;
    
  }
  .profile-block{
    background-color: hsl(0, 6%, 93%);
  }
  .profile-header{
    background-color:hsl(194, 27%, 37%,0.7);
  }
  .account-heading {
    font-size: 2.5rem;
    margin-bottom: 2 em ;
  }

  .account-upper .display-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem
  }

.upper-profile-display{
  color: #ffffff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: rgb(195, 195, 195) ; 
  color: rgb(146, 42, 42) 
}

.article-metadata .article-metadata-head{
  background-color: #5f788a;
  font-size: large;
  color:#474747;
}
.qualification-title a:link {
  color: #5c5b5b;
  text-decoration: none;
}
.qualification-title:visited {
  color: #000000;
  text-decoration: none;
}
.qualification-title:hover,
.qualification-title:active {
  color: #7a7676;
  text-decoration: none;
}

.home-profile-image{
  height: 140px;
  width: 120px;
  margin-right: 20px;
}
/* <a href="https://www.freepik.com/free-vector/abstract-gray-papercut-style-layers-background-design_8290123.htm#query=layered%20background&position=29&from_view=keyword&track=ais&uuid=3d58ab8c-26b1-4c99-98f1-672ceed13730">Image by starline</a> on Freepik */
