html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image : url('background.png');
  background-size: cover;  
  background-repeat: no-repeat; 

  /* background-color: #cbc6c6; */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .btn-forgot:hover{
  background-color: #6a6767;
}
.form-signin .btn-signup:hover{
  background-color: #c2c299;

}
.form-signin .btn-forgot{
  background-color: rgb(101, 101, 101,0.0);
  text-align:center; 
  padding: 0.5rem 1rem; 
  border-radius: 0.3rem; 
  line-height: 1.5; 
  font-size: 1rem;
}
.form-signin .btn-signup{
  background-color: bisque; 
  padding: 0.5rem 1rem;
  border-radius: 0.3rem; 
  line-height: 1.5; 
  font-size: 1.25rem;
  color: aliceblue;
}
.form-signin .have-account {
  text-align: center;
  color: white;}