{% extends 'layouts_profile.html' %}
{% block content %}
<div class="jumbotron">
  <div class="content-section" style ="background-color: #5f788a;">
    <div class="media">
        <img src="{{ image_file }}" class="rounded-circle account-img">
        <div class="media-body">
            <h2 class="display-4 text-white">{{ current_user.username }}</h2>
            <p class="text-white">{{ current_user.email }}</p>
        </div>
    </div>
</div>

  <form method="POST" enctype="multipart/form-data">
    <div class = 'form-group'>
      {{ form.hidden_tag() }}
      {{ form.email.label(class='sr-only') }}
      {% if form.email.errors %} 
        {{ form.email(class='form-control is-invalid',placeholder="Email") }}
        <div class="invalid-feedback" id="flash-messages">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class='form-control',placeholder="Email") }} 
      {% endif %}
    </div>

    <div class = 'form-group'>
      {{ form.username.label(class='sr-only') }}
      {% if form.username.errors %} 
        {{ form.username(class='form-control is-invalid',placeholder="Username") }}
        <div class="invalid-feedback" id="flash-messages">
          {% for error in form.username.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.username(class='form-control',placeholder="Username") }}
      {% endif %}
    </div>
    <div class = 'form-group'>
      {{ form.dob.label(class='form-control-label') }}
      {% if form.dob.errors %} 
        {{ form.dob(class='form-control is-invalid') }}
        <div class="invalid-feedback" id="flash-messages">
          {% for error in form.dob.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.dob(class='form-control form-floating') }}
      {% endif %}
    </div>
    <div class = 'form-group'>
      {{ form.picture.label() }}
      {{ form.picture(class='form-control-file',id='formFile')}}
      {% if form.picture.errors %} 
          {% for error in form.picture.errors %}
            <span class="text-danger sm">{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class = 'form-group'>
      {{ form.resume.label() }}
      {{ form.resume(class='form-control-file',id='formFile')}}
      {% if form.resume.errors %} 
          {% for error in form.resume.errors %}
            <span class="text-danger sm">{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class = 'form-group'>
      {{ form.profile_overview.label(class='form-control-label') }}
      {% if form.profile_overview.errors %} 
        {{ form.profile_overview(class='form-control is-invalid',placeholder="Tell us about yourself") }}
        <div class="invalid-feedback" id="flash-messages">
          {% for error in form.profile_overview.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.profile_overview(class='form-control form-floating',placeholder="Tell us about yourself") }}
      {% endif %}
    </div>
    <div class = 'form-group'>
      {{ form.experience.label(class='form-control-label') }}
      {% if form.experience.errors %} 
        {{ form.experience(class='form-control is-invalid',placeholder="Tell us about yourself") }}
        <div class="invalid-feedback" id="flash-messages">
          {% for error in form.experience.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.experience(class='form-control form-floating',placeholder="Tell us about yourself") }}
      {% endif %}
    </div>
    <div class = 'form-group'>
      {{ form.qualification.label(class='form-control-label') }}
      <a type="button" class="form-control btn btn-info" href="{{url_for('qualifications_blueprint.qualifications')}}">Update your qualifications here</a>    
      
    </div>
    <div class="form-group">
      {{ form.projects.label(class='form-control-label') }}
      <a type="button" class="form-control btn btn-info" href="{{url_for('projects_blueprint.projects')}}">Update your projects here</a>    
    </div>
    <div class="form-group " >  
      {{ form.update(class="btn btn-secondary mt-2") }}
    </div>
    <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal">
      Delete 
    </button>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Once deleted the Account cannot be recovered</p>
          </div>
          <div class="modal-footer">  
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('users_blueprint.delete_account') }}" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete">
          </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>

{% endblock content %}





