{% extends 'layouts_profile.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">My Projects</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  {% for project in projects %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ project.project_title }}</a>
        <small class="text-muted">{{ project.project_overview }}</small>
      <!-- </div>
      <h2><a class="article-title" href="#">{{ post.Experience }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div> -->
  </article>
  {% endfor %}
  <a href='{{ url_for("add_project") }}'> 
      <button class="btn btn-primary mb-2"> 
          Add new Project 
      </button> 
  </a> 

</div>

{% endblock content %}