{% extends 'layouts_profile.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">My Projects</h1>
  <p class="lead">Projects help display what you the best, make sure you display all your best ones</p>
  <hr class="my-4">
  {% for project in projects %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="article-metadata article-metadata-head">
          <a  class="project-title-link" href="{{ url_for('curr_project',project_id = project.id) }}">{{ project.project_title }}</a>
        </div>
        <hr>
        <p class="text-muted">{{ project.project_overview }}</p>

  </article>
  {% endfor %}
  <a href='{{ url_for("add_project") }}'> 
      <button class="btn btn-info mb-2"> 
          Add new Project 
      </button> 
  </a> 

</div>

{% endblock content %}
